 *{
    margin: auto;
 }

body {
    font-family: Marone,sans-serif;
    font-size: 1em;
    background-color: #090541;
}

header{
    background-color: white;
}
nav{
    display: flex;
}
.logo{
    position: relative;
    right: 10%;
}
.menu{
    position: relative;
    left: 15%;
    display: flex;
}

.item{
    margin-right: 10px;
}
/*a {
    text-decoration: none;
    color: #242424;
}

em {
    color: #A584FC;
    font-style: normal;
}

h1 {
    font-size: 3.5em; 
    color: #A584FC;
    font-family: Montserrat;
 }

h2{
    color:#F9F8FF ;
}

p,
li {
    font-size: 1.1em;
    color: #F9F8FF;
}

header,
footer {
   background-color: white;
   padding: 20px 50px;
}

.lien{
    color: white;
    background: linear-gradient(to left,#8E86B5,#ACAEED);
    border-radius: 50px;
    padding: 20px 30px;
}

.lien:hover{
    text-decoration: none;
    background: linear-gradient(red,blue);
}
  
.lien-icone:hover{
    text-decoration: none;
    opacity: 0.5;
}

.carre-contenu{
    border-right: 1px solid #8e86b5;
    border-bottom: 1px solid #8e86b5;
    padding: 50px;
}

.carre-contenu h2{
    margin-top: 30px;
}

.carre-contenu ul{
    margin-top: 30px;
}

section{
    padding: 80px;
}

.a-propos-main{
    width: 50%;
    margin: auto;
}



